.section {
    height: 1000px;
    text-align: center;
    padding: 20px;
}

.intro {
    height: 1000px;
    text-align: center;
    padding: 20px;
}

.seperator {
    height: 115px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: rgb(156, 153, 153);
}

.importantWord {
    display: inline-block;
    position: relative;
    color: rgb(138, 138, 138);
}

.icon {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.icon:hover {
    filter: brightness(10%)
}

.links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.importantWord::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.importantWord:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}




  